/* ======================= GOOGLE FONT ======================= */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

/* ======================= VARIABLE CSS ======================= */
:root {
  /* ======== COLORS ======== */
  /* Change favorite color */
  --fav-color: 230; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

  --main-color: hsl(var(--fav-color), 90%, 61%);
  --main-color-alt: hsl(var(--fav-color), 57%, 53%);
  --main-color-lighter: hsl(var(--fav-color), 90%, 80%);
  --main-color-lightest: hsl(var(--fav-color), 90%, 90%);
  --container-color: #fff;
  --title-color: hsl(var(--fav-color), 8%, 15%);
  --text-color: hsl(var(--fav-color), 8%, 45%);
  --text-color-light: hsl(var(--fav-color), 8%, 65%);
  --body-color: hsl(var(--fav-color), 60%, 99%);
  --input-color: hsl(var(--fav-color), 70%, 96%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

  /* ======== FONT ======== */
  --body-font: "Poppins", sans-serif;

  /* ======== FONT WEIGHT======== */
  --fw-medium: 500;
  --fw-semi-bold: 600;

  /* ======== Z-index ======== */
  --z-fixed: 10;
  --z-modal: 100;

  /* ======================= TAG ======================= */
  --header-height: 60px;
}

/* ======================= BASE ======================= */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: 1.5rem;
  color: var(--text-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input {
  font-family: var(--body-font);
  border: none;
  outline: none;
  background-color: transparent;
}

a[href] {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--fw-semi-bold);
}

img {
  max-width: 100%;
  height: auto;
}
